.div3Container {
    width: 100%;
    display: inline-flex;
}

.banner {

    width: 50%;
    background-color: #644F9C;
    height: 400px;
    float: left
}

.banner h2 {
    color: white;
    margin: auto;
    margin-top: 25%;
}