.sign{
    /* height: 50px; */
    width: 200px;
    background-color: #fff;
    border-radius: 35px;
    overflow: hidden;
    margin: 0;
    
}

.sign .active{
    background-color: #ec7b24;
    height: 45px;
    width: 90px;
    border-radius: 25px;
    border: none;
    color: #fff;
}

button{
    border: none;
    font-size: 20px;
    background-color: #fff;
    margin: 5px;
    text-align: center;
}
